.accueil
{
  background-color: #F2F2F2;
}

.content
{
  border-bottom: 1px solid #DDDDDD;
}

.profil
{
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ECECEC;
}

.projet
{
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #F2F2F2;
}

.resume
{
  padding-top: 75px;
  padding-bottom: 75px;
 background-color: #ECECEC;
}


.footer
{
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #303030;
}
.footer h2
{
    color: #fff;
}
.footer p
{
    color: #fff;
}

.competence 
{
  margin-top:-20px;
}

.sociaux a
{
  color: #333;
  margin-right:5px;
}
.sociaux a:hover
{
  color: #E82323;
}

.sociaux a {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}



/* ---------------------------------------------- /*
 * Skill-bars
/* ---------------------------------------------- */

.skill-bar {
  background: #C4C4C4;
  display: table;
  height: 4px;
  width: 100%;
  margin: 10px 0px 20px -2px;
}

.skill-bar .skill-rate-on {
  background: #353535;
}

.skill-rate-on, .skill-rate-off {
  display: table-cell;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
}